<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
<context:component-scan base-package="com.etc.controller"></context:component-scan>

<!-- 静态资源不会被过滤 -->
<mvc:default-servlet-handler/>


<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 配置视图解析器的前缀和后缀 -->
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
</bean>
<!-- 启动springmvc注释 -->
<mvc:annotation-driven></mvc:annotation-driven>
<!-- aop -->
<aop:aspectj-autoproxy proxy-target-class="true" />

<!-- 上传下载 -->
<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"></bean>

<!-- <mvc:interceptors>
	可以配置多个拦截器
		
		
		<mvc:interceptor>
			配置需要拦截的路径
			<mvc:mapping path="/"/>
			<bean class="com.etc.intercepter.LogIntercepter"></bean>
		</mvc:interceptor>
	</mvc:interceptors> -->


</beans>

